header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-md);

  .heading {
    display: flex;
    align-items: center;
    gap: var(--space-md);

    img {
      width: 72px;
      height: 72px;
    }
  }

  .settings {
    display: flex;
    align-items: center;
    gap: var(--space-md);
  }
}

.app {
  height: 100vh;
  padding: var(--space-lg);
}

#content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#settings {
  flex-direction: column;
  gap: var(--space-md);

  &:open {
    display: flex;
  }

  h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-md);
  }
}

.date-picker-bar {
  display: flex;
  align-items: center;
  gap: var(--space-md);

  input {
    padding: var(--spacing-xs) var(--spacing-sm);
  }
}

journal-day {
  flex-grow: 1;
  overflow: hidden;
}