:host {
  display: block;
  background: var(--color-surface);
  border-radius: var(--radius-md);
  box-shadow: var(--form-shadow);
  border: var(--form-border);
  overflow: hidden;
  margin-bottom: var(--space-lg);
}

.card-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-lg);

  slot[name='title']::slotted(*) {
    margin: 0;
    padding: var(--space-md) 0 0 var(--space-lg);
    font-family: var(--font-family-heading);
    font-size: var(--heading-2);
    line-height: 1.15;
    font-weight: 700;
    color: var(--color-text);
  }

  slot[name='subtitle']::slotted(*) {
    margin: 0;
    padding: var(--space-md) var(--space-lg) 0 0;
    font-size: var(--font-size-sm);
    color: var(--color-text-secondary);
    font-weight: 400;
  }

  h2,
  h3,
  .subtitle {
    display: flex;
  }

  h2,
  h3 {
    margin: 0;
    color: var(--color-text);
    font-weight: 700;
  }

  h2 {
    font-size: var(--font-size-xl);
  }

  h3 {
    font-size: var(--font-size-lg);
  }
}

.card-body {
  padding: var(--space-lg);
}
