section.section
  fieldset
    legend Journal Log
    button.add-entry(type="button" data-action="click:onAddJournalEntry" aria-label="Add new journal entry") + Add Entry
    rich-text-editor#richTextEditor
