.section {
  height: 100%;
}

fieldset {
  height: 100%;
}

rich-text-editor {
  flex-grow: 1;
  flex-shrink: 1;
  height: 0;
}

.add-entry {
  width: max-content;
  background-color: var(--color-secondary-light);
  color: var(--color-secondary-contrast);
}
