section.section
  fieldset
    legend {{journalLogLegend}}
    button.add-entry(type="button" data-action="click:onAddJournalEntry" aria-label="{{addEntryAria}}") + {{addEntryLabel}}
    rich-text-editor#richTextEditor
