section {
  padding: var(--space-xs);
}

.q {
  margin-top: var(--space-sm);
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  gap: var(--spacing-xs);

  label {
    &.required {
      &::after {
        content: ' *';
        color: var(--color-danger);
      }
    }

    .help-icon {
      margin-left: 0.25em;
    }
  }
}
