section {
  padding: var(--space-xs);
}

.q {
  margin-top: var(--space-sm);
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  gap: var(--spacing-xs);

  label {
    &.required {
      &::after {
        content: ' *';
        color: var(--color-danger);
      }
    }

    .help-icon {
      margin-left: 0.25em;
    }
  }
}

.rich-text-q {
  height: 100%;

  rich-text-editor {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.add-entry {
  width: max-content;
  background-color: var(--color-secondary-light);
  color: var(--color-secondary-contrast);
  margin-bottom: var(--spacing-md);
}
